.group-goal div{
    padding: 5px;
    font-size: 24px;
    font-family: 'Ephesis', cursive;
    border: 1px solid transparent;
    background-color: #18202a;
    color: #6d809d;
    border: 1px solid #6d809d;
    width: 60%;
    margin-left: 20%;
}
span{
    color:red;
}